.main {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* LEFT PANEL */
.left-panel {
  width: 40%;
  background: linear-gradient(135deg, #5b2cff, #6c63ff, #2fb3a3);
  color: white;
  padding: 50px;
  position: relative;
}

.left-panel h1 {
  font-size: 28px;
  line-height: 1.4;
}

.highlight-text {
  font-size: 15px;
  color: #e0ddff;
}


.illustration {
  position: relative;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}


.illustration img {
  width: 450px;
}

/* RIGHT PANEL */
.right-panel {
  width: 60%;
  background: white;
  padding: 60px 80px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  margin-left: -80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-panel h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.description {
  color: #666;
  margin-bottom: 30px;
}

/* FORM */
.form {
  width: 420px;
}

/* PASSWORD */
.password-box {
  position: relative;
  margin-bottom: 15px;
}

.password-box input {
  width: 100%;
  height: 44px;
  padding-left: 20px;
  padding-right: 45px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.eye-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* BUTTON */
button {
  width: 100%;
  height: 44px;
  background: #111;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

/* MESSAGES */
.error {
  color: red;
  font-size: 13px;
  margin-bottom: 10px;
}

.success {
  color: green;
  font-size: 13px;
  margin-bottom: 10px;
}
