.otp-container {
  display: flex;
  gap: 14px;
  justify-content: center;
  margin-bottom: 25px;
}

.otp-container input {
  width: 48px;
  height: 48px;
  border: 1px solid #333;
  border-radius: 6px;
  font-size: 20px;
  text-align: center;
  outline: none;
  padding: 0;                 
  line-height: 48px;
  background-color: white;
}

.otp-container input:focus {
  border-color: #4b2cff;
}
.main {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* LEFT PANEL */
.left-panel {
  width: 40%;
  background: linear-gradient(135deg, #5b2cff, #6c63ff, #2fb3a3);
  color: white;
  padding: 50px;
  position: relative;
}

.left-panel h1 {
  font-size: 28px;
  line-height: 1.4;
}

.highlight-text {
  font-size: 15px;
  color: #e0ddff;
}


.illustration {
  position: relative;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}


.illustration img {
  width: 450px;
}

/* RIGHT PANEL */
.right-panel {
  width: 60%;
  background: white;
  padding: 60px 80px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  margin-left: -80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-panel h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.description {
  color: #666;
  margin-bottom: 30px;
}

/* BUTTON */
button {
  width: 100%;
  height: 44px;
  background: #111;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

/* RESEND */
.resend {
  margin-top: 15px;
  font-size: 14px;
}

.resend span {
  color: #4b2cff;
  cursor: pointer;
}
